.popup__place {
    border: 0px;
    width: 358px;
    height: 28px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0 ,0, 0.2);
}

@media screen and (max-width: 615px) {
    .popup__place {
        width: 298px;
    }
}

@media screen and (max-width: 425px) {
    .popup__place {
        width: 228px;
    }
}