.profile-info__edit-button {
    min-width: 24px;
    min-height: 24px;
    background-image: url(../../../images/profile-info__edit-button.svg);
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px;
    transition: opacity linear 0.5s;
}

.profile-info__edit-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (max-width: 905px) {
    .profile-info__edit-button {
        min-height: 20px;
        min-width: 20px;
    }
}