.footer {
    max-width: 882px;
    margin-top: 66px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 905px) {
    .footer {
        max-width: 583px;
    }
}

@media screen and (max-width: 615px) {
    .footer {
        max-width: 282px;
        margin-top: 48px;
        padding-bottom: 36px;
    }
}